.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator input[type="text"] {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding: 5px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.calculator .input-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.calculator .input-buttons input[type="button"] {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.calculator .input-buttons input[type="button"]:hover {
  background-color: #e0e0e0;
}

#Deletebtn {
  color: #fff;
  background-color: blue;
}

#Deletebtn:hover {
  background-color: rgb(31, 116, 197);
}

.calculator div:last-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.calculator div:last-child input[type="button"] {
  width: 100%;
  height: 40px;
  font-size: 18px;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.calculator div:last-child input[type="button"]:hover {
  background-color: rgb(186, 52, 52);
}

#Reset {
  background-color: blue;
}

#Reset:hover {
  background-color: rgb(31, 116, 197);
}
